/* Error: expected "{".
 *   ,
 * 4 |   background: $blue_1;
 *   |                      ^
 *   '
 *   scss\pages\about.scss 4:22  @import
 *   scss\main.scss 26:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 4 \2502    background: $blue_1;\d\a   \2502                       ^\a   \2575 \a   scss\\pages\\about.scss 4:22  @import\a   scss\\main.scss 26:9         root stylesheet';
}
