.services-section-page {
  @media (max-width: 768px) {
    margin-block-start: 1rem;
  }

  .service-hero {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .content-column {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-inline: unset;
    padding-block-start: 2rem;
    min-width: 100%;
    background: linear-gradient(0deg, rgba(#fbfbfb, 100), rgba(#d9d9d9, 0));

    h1 {
      color: var(--blue-3, #00337c);
      margin-bottom: 0.75rem;
      text-align: center;
    }

    .excerpt-content {
      color: #3a3e42;
      line-height: 2.25rem;
      text-align: center;
    }
  }
}

.service-hero-images {
  display: none;
  height: 11rem;
  width: 100%;
  text-align: left;

  .under-search-img1 {
    translate: 31rem 2rem;

    @media (max-width: 992px) {
      display: none;
    }
  }

  .under-search-img2 {
    translate: -3rem -4rem;
  }

  .under-search-img3 {
    translate: -2rem 5rem;
  }
}

//---------------------------------------------- about-service-section

.service-content {
  .image {
    display: flex;
    text-align: center;
    justify-content: center;

    img {
      min-width: 100%;
      object-fit: cover;
    }
  }

  .content {
    .h2 {
      color: $blue_2;

      @media (max-width: 768px) {
        font-weight: 600;
        font-size: 1.25rem;
      }
    }

    .excerpt-service {
      line-height: 2.25rem;
      font-size: 1.25rem;
      color: $gray_1;
      padding-right: 0.25rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

      @media (max-width: 768px) {
        line-height: 1.625rem;
        font-size: 1rem;
      }
    }

    .btn-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;

      .btn-b {
        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
}
